#image-wrapper {
    height: 576px;
    background-size: cover;
    width: 100%;
    background-image:url("../../../images/navbar.png");
  }

  .NavBar {
    font-family: 'Times New Roman', Times, serif;
  }