/* CSS Custom Properties */

:root {
  --white: #FFFFFF;
  --tan-1: #FFFFFF;
  --tan-2: #FFB6C1;
  --tan-3: #FFFFFF;
  --tan-4: whitesmoke;
  --orange: lightgray;
  --text-light: #FFFFFF;
  --text-dark: #FFFFFF;
}

* {
  margin: auto;
  background-color: var(--white);
  width: 100%;
  font-family: 'Nunito', sans-serif;
  color: var(--grey-3);
  box-sizing:border-box;
  border: double;
}

form {
  display: block;
  margin-top: 0em;
}

