/* CSS Custom Properties */

* {
  margin: auto;
  background-color: whitesmoke;
  width: 100%;
  font-family: 'Nunito', sans-serif;
  color: var(--grey-3);
  box-sizing:border-box;
  border: double;
  border-block-start-color: #f5e1e0;
}

form {
  display: block;
  margin-top: 0em;
}

